* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

body,
a,
button {
    font-family: 'Proxima Nova Rg';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: var(--colorBlack);
    text-decoration: none;
}

main {
    position: relative;
}

.container {
    max-width: var(--content-max-width);
    margin: 0 auto;
}

.nav-wrapper {
    border-bottom: 1px solid rgba(30, 46, 54, .6);
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.contacts {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 10px 0;
}

.social-media {
    display: flex;
    align-items: center;
    gap: 5px;
}

.social-media__text {
    display: inline-block;
}

.social-media__items {
    display: inline-block;
}

.social-media__items__box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color 0.3s, color .4s;
}

.social-media__items__box:hover {
    background-color: var(--greyscale500);
    color: var(--colorBlack);
}

.phone-number__item {
    position: relative;
}

.phone-number__item:hover .number__nested-list {
    display: flex;
}

.phone-number__item:hover .phone-number__item__link__arrow,
.assortment-nav-list__item:hover .assortment-nav-list__item__arrow {
    transform: rotate(180deg);
}

.phone-number__item__link {
    display: flex;
    align-items: center;
    gap: 5px;
    text-transform: uppercase;
}

.phone-number__item__link:hover,
.number__nested-list__item:hover a,
.assortment-nav-list__item:hover,
.assortment__nested-list__item:hover a {
    color: var(--colorGreen);
}

.number__nested-list {
    align-items: center;
}

.nav-site-list__item {
    position: relative;

}

.nav-site-list__item::before {
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: var(--colorGreen);
    bottom: -3px;
    transition: transform 0.3s;
    transform: scaleX(0);
    transform-origin: 50% 50%;
}

.nav-site-list__item:hover::before {
    transform: scaleX(1);
}

.assortment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 27px 0;
    position: relative;
}

.assortment__nested-list {
    top: 24px;
}

.assortment-nav-list__item:hover .assortment__nested-list {
    display: flex;
}

.assortment__logo {
    position: absolute;
    left: calc(50% - var(--logo-width)/2);
}

.order-buttons {
    display: flex;
    align-items: center;
    gap: 30px;
}

.buket {
    display: flex;
    align-items: center;
    border: none;
    padding: 0;
    background: none;
    gap: 5px;
    font-family: 'Proxima Nova Rg';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: var(--colorBlack);
    text-transform: uppercase;
    cursor: pointer;
    transition: color .3s;
}

.buket:hover #wheel-left,
.buket:hover #wheel-right {
    animation: moveWheel .5s infinite alternate;
    transform-origin: center;
    transform-box: fill-box;
}

.buket:hover #cart {
    animation: moveCart .5s infinite alternate;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes moveWheel {
    0% {
        transform: rotate(0deg) scale(1);
    }

    100% {
        transform: rotateY(10deg) scale(1.3);
    }
}

@keyframes moveCart {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-1px);
    }
}

.buket:hover {
    color: var(--colorGreen);
}

.promo-slider {
    position: relative;
    margin-bottom: 91px;
    width: 100%;
    height: 785px;
}

.promo-swiper-img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.promo-swiper-img__swipper {
    display: flex;
}

.promo-slider__img {
    width: 100%;
    height: 100%;
}

.promo-slider__card__text-box {
    height: auto;
}

.promo-slider__card {
    width: 462px;
    height: 670px;
    background-color: var(--color-white);
    padding-top: 99px;
    position: relative;
    margin: 0;
}

.promo-slider__card::before {
    content: '';
    width: 15px;
    height: 670px;
    background-color: var(--colorGreen);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.promo-slider__card__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    background-color: var(--color-white);
}

.card__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.description__title {
    margin-bottom: 10px;
}

.description__text {
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 30px;
    width: 314px;
    text-align: center;
}

.promo-slider_control {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}


.promo__button {
    border: 1px solid var(--colorBlack);
    background-image: var(--arrow-active);
    background-color: var(--colorBlack);
}

.swiper-button-disabled.promo__button {
    border: 1px solid var(--colorBlack);
    background-image: var(--arrow-disable);
    background-color: transparent;
    cursor: default;
}

.advantages {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--m-bottom-section);
}

.advantages__wrapper {
    width: 100%;
    position: relative;
    overflow-x: hidden;
    max-width: var(--content-max-width);
}

.advantage__box {
    display: flex;
    align-items: center;
    width: 100%;
}

.advantage__box__card {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    width: 586px;
    height: 350px;
    border-radius: 3px;
    padding: 30px;
    color: var(--color-white);
    cursor: pointer;
}

.advantage__box__card:hover .card__description__text {
    display: block;
}

.advantage__box__card__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: var(--colorBlack);
}

.about-us__content__description {
    overflow: hidden;
    z-index: 1;
}

.card__description__title {
    position: relative;
    display: inline-block;
    line-height: 63px;
}

.card__description__title::before {
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: var(--colorGreen);
    bottom: 10px;
    transition: transform 0.3s;
}

.card__description__text {
    display: none;
    font-weight: 400;
}

.advantage__button {
    position: absolute;
    top: calc(50% - 15px);
    border: 1px solid var(--color-white);
    background-image: var(--arrow-disable);
    background-color: var(--color-white);
    cursor: pointer;
}

.control__button-left.advantage__button {
    left: 15px;
}

.control__button-right.advantage__button {
    right: 15px;
}

.swiper-button-disabled.advantage__button {
    border: 1px solid var(--color-white);
    background-image: var(--arrow-active);
    background-color: transparent;
    cursor: auto;
}

.categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--m-bottom-section);
}

.category__nav {
    margin-bottom: 87px;
}

.category__list {
    display: flex;
    align-items: center;
    gap: 12.5%;
    width: 1600px;
    max-width: 1600px;
}

.category__list__item__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 10px;
    text-transform: uppercase;
    position: relative;
}

.category__list__item__link svg {
    transition: color 0.3s;
}

.category__list__item__link__span {
    display: inline-block;
    position: relative;
}

.category__list__item__link__span::before {
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: var(--colorGreen);
    bottom: -3px;
    transition: transform 0.3s;
    transform: scaleX(0);
    transform-origin: 50% 50%;
}

.category__list__item:hover .category__list__item__link__span::before,
.active-category .category__list__item__link__span::before {
    transform: scaleX(1);
}

.active-category .category__list__item__link svg {
    color: var(--colorGreen);
}

.category__furnitures {
    display: none;
    flex-wrap: wrap;
    gap: 50px 30px;
    text-transform: uppercase;
    margin-bottom: 50px;
    justify-content: center;
}

.active-furnitures {
    display: flex;
}

.category__furnitures__card {
    display: flex;
    flex-direction: column;
    max-width: 586px;
    height: 360px;
    position: relative;
    background-color: var(--color-white);
    transition: color .3s, background .3s;
}

.category__furnitures__card:hover {
    background-color: var(--colorGreen);
    color: var(--color-white);
}

.category__furnitures__card:hover .furniture__card__description__cost,
.category__furnitures__card:hover .sale-cost {
    color: var(--color-white);
}

.furniture__card__description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    height: 100%;
}

.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--m-bottom-section);
}

.about-us__content__img {
    position: absolute;
    right: 0;
    z-index: -1;
}

.about-us__container,
.questions__container {
    display: flex;
    align-items: center;
    height: 100%;
}

.about-us__content__description {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 791px;
    height: 475px;
    padding: 50px 30px 50px 51px;
    background-color: var(--color-white);
    position: relative;
    overflow: visible;

    font-weight: 400;
}

.about-us__content__description__text span {
    color: var(--colorGreen);
}

.about-us__content__description::before {
    content: '';
    width: 15px;
    height: 475px;
    background-color: var(--colorGreen);
    border-radius: 0px 3px 3px 0px;
    position: absolute;
    right: -15px;
    top: 0;
    z-index: 1;
}

.questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 109px;
}

.questions__content__img {
    position: absolute;
    left: 0;
    z-index: -1;
}

.questions__container {
    justify-content: flex-end;
}

.question__card {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 513px;
    height: 457px;
    padding: 50px 51px 50px 30px;
    background-color: var(--color-white);
    position: relative;
}

.question__card::before {
    content: '';
    width: 15px;
    height: 457px;
    background-color: var(--colorGreen);
    border-radius: 3px 0px 0px 3px;
    position: absolute;
    left: -15px;
    top: 0;
    z-index: 1;
}

.question__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.question__form__input {
    width: 100%;
    background: var(--color-white);
    border: 1px solid var(--colorBlack);
    border-radius: 3px;
    padding: 14px 15px;
    outline: none;

    font-family: 'Proxima Nova Rg';
    font-size: 18px;
    font-weight: 400;
}

.question_card_description {
    max-width: 400px;
    font-weight: 400;
}

.footer {
    display: flex;
    width: 100%;
    height: auto;
}

.footer__img {
    width: 56.7%;
}

.footer__wrapper {
    display: flex;
    flex-direction: column;
    width: 43.3%;
    padding: 50px 56px 15px 51px;
    background-color: var(--colorBlack);
    color: var(--color-white);
}

.footer__wrapper a {
    color: var(--color-white);
}

.svg-logo-construction {
    color: var(--color-white);
}

.footer__logo {
    margin-bottom: 50px;
}

.footer__informations {
    display: flex;
    gap: 87px;
    margin-bottom: 83px;
}

.footer__nav__list {
    display: flex;
    flex-direction: column;
    gap: 15px 55px;
    flex-wrap: wrap;
    width: 375px;
    height: 213px;
}

.footer__nav__list__item a {
    text-transform: uppercase;
    transition: color 0.3s;
}

.footer__nav__list__style,
.footer__nav__list__item:hover a {
    color: var(--colorGreen);
}

.footer__informations__contacts {
    font-weight: 400;
}

.footer__informations__contacts__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 29px;
}

.footer__informations__contacts__list a {
    font-weight: 400;
}

.footer__informations__contacts__item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer__informations__contacts__item:last-child {
    align-items: flex-start;
}

.informations__contacts__phone,
.informations__contacts__phone a {
    color: var(--colorGreen);
}

.informations__contacts__phone-numbers {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer-media {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}

.footer__license {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.license__item {
    font-size: 14px;
    font-weight: 200;
}

.license__item-link {
    display: flex;
    align-items: center;
    gap: 3px;
    font-family: 'Cuprum', sans-serif;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    transition: color 0.3s;
}

.license__item-link:hover {
    color: var(--colorGreen);
}